.awqaf h3{
    font-weight: bold;
    color: var(--green-color);
}

.awqf-cards .btn 
{
    transition: transform 1s ,background-color 1s, opacity 1s !important;
    transform: translateY(100%);
    opacity: 0;
}
.awqf-cards:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);
    
}

/* .awqf-cards{
    transition: all 1s !important;
}
.awqf-cards:hover{
    transform: scale(1.1);
} */
.awqf-cards img{
    max-height: 200px ;

}