

.description{
    
    text-align: justify;
}

.btn-green{
    background-color:var( --green-color) !important;
    /* border-color :  var( --green-color); */
    color: var(--white-color) !important;
    padding: .8rem  2rem !important; 
} 
.aboutImg{
    /* width: 60%;
    padding: 25px;
    border-radius: 10%;
    border: 2px solid var(--green-color); */
   
}