.navbar-brand{
    width: 4%;

}
.nav-link {
    color:var(--white-color);
    margin-right: 2rem;
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: var(--gold-color);
}
.nav-link:hover {
    color: var(--gold-color);
}

.navbar{
    position: absolute;
    z-index: 1000;
    top: 0;
    --bs-navbar-padding-y: 0
    --bs-navbar-brand-margin    --bs-navbar-brand-padding-y:0;
-end: 0;
}
/* .navbar{
    position: absolute !important;
    z-index: 100000;
} */
@media (max-width:767px) {
    .navbar{
        background-color: var(--green-color);
    }
}