.heading, .techIcons{
    color: var(--gold-color);
}



#about{
    background-image: url("../../Assests/Images/About-header.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}


.tech-items{
    transition: all .5s !important;
}
.tech-items:hover{
    transform: scale(1.1);
}
#about .overlay p, #about .overlay h1 span{
    padding: 5px;
    background-color: var(--green-color);
    opacity: .8;
}
#about .overlay .text{
    width: 50%;
    font-size: 1.5rem;
}


   
    
   
  
  @media screen and (max-width: 600px){
    .tech-items:hover{
        transform: none;
    }
  
  }
